h1{
    text-align: center;
}

li{
    font-size: x-large;
}
.account-buttons{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 1000px;
}
.nav-button{
    margin: 5px;
}
.reservation-ctn{
    text-align: center;
}

@media(min-width: 768px){
    .account-buttons{
        display: flex;
        justify-content: center;
        flex-direction: row;

    }
}
