html, body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #E0E1DD;
    overflow-y: auto;
    height: 100%;

}
.page {
    position: relative;
    min-height: 90vh;
    min-height: 100%;
    /* equal to footer height + some padding */
    margin-bottom: -60px;
}
.button{
    background-color: #1b263b;
    color: white;
    width: 125px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #444;
    min-width: 125px;
}
.button:hover{
    background-color: #415a77;
    transform: translateY(-2px) translateX(-1px);
    transition: 0.35s;
    box-shadow: 4px 4px 6px #444;
}
.button:active{
    transform: translateY(0px) translateX(0px);
    transition: 0.1s;
    box-shadow: 0px 0px 0px #444;
    background-color: #1b263b;
}

.custom-amount{
    border-radius:10px;
    box-shadow: 2px 2px 4px #444;
}

#custom-button.col-xs{
    min-width: 75px;
    width: 75px;
    margin-right: 50px;
}

#custom-button.col-sm{
    min-width: 75px;
    width: 75px;
    margin-right: 50px;
}

.balance{
    color: #1b263b;
    font-weight: 900;
    
}
.balance-ctn{
    width: 100%;
    transform: translateY(100px);
}

@media (min-width:375px){
    .button{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .custom-amount{
        margin-top: 50px;
        margin-bottom: 10px;
        
    }
    .custom-amount-ctn{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    #ten-button{
        margin-top: 20px;
    }
}
@media (min-width:768px){
    .money-button{
        margin-bottom: 25px;
        margin-top: 100px;
    }
    
    #custom-button{
        margin-top: 75px;
        margin-left: 50px;
    }  
    .custom-amount{
        margin-top: 75px;
    }
    #ten-button{
        margin-top: 100px;
    }
}
@media (min-width: 992px){
    .custom-amount{
        margin-top: 75px;
    }
    #custom-button{
        margin-left: 10px;
    }
}
@media (min-width: 1200px){
    .custom-amount{
        margin-left: 0px
    }
    #custom-button{
        margin-left: -25px;
    }
}

