.footer{
    background-color:#1b263b; 
    position: absolute;
    width: 100%; 
    height: 126px;
    bottom: 0;

}

.logo-icon{
    padding-top: 35px;
    height: 100px;
}
@media screen and (max-width: 768px){
    .footer{
        display: transparent;
    }
}