h1 {
text-align: center;
}
body {
    background-color: #E0E1DD;
}
#titleDiv {
background-color: #1b263B;
color: white;
padding: 20px;
}

#ticketContainer {
height: 350 px;
text-align: center;
}

.ticket {
width: 33.333%;
height: 200px;
box-sizing: border-box;
border: .5px solid;
background-color: white;

}


.selected {
background-color: #778DA9;
}

#serviceButton {
padding: 10px;
}

ul {
list-style-type: none;
}
.grey {
background-color: white ;
}

.blue {
background-color: #778DA9;
}




#ticket1 {
float: left;

}

#ticket2 {
float: left;
}

#ticket3 {
float: right;
}
