body{
    background-color: #E0E1DD;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.home-page{
    text-align: center;
    font-weight: 600;
    font-size: x-large;
    margin-top: 20%;
}

.about-us-page {
    text-align: center;
    font-weight: 600;

}