<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Account </title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'product/style/accountStyle.css' %}">
    <link rel="stylesheet" href="{% static 'product/style/headerStyle.css' %}">
    <link rel="stylesheet" href="{% static 'product/style/footerStyle.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

</head>
<body>
    
{% include 'product/header.html' %}
{% block content %}
     <div id="details">
        <a href = "{% url 'product:logoutPage' %}">Logout here</a>
        <h1>Welcome, {{customUser.user.first_name}} {{customUser.user.last_name}}</h1>
        <p>Email: {{customUser.user.username}}</p>
        <p>Balance: ${{customUser.balance}}</p>
        {% if customUser.balance < 0 %}
        <p style = "color:red">
            YOU HAVE A NEGATIVE BALANCE!!!
        </p>
        {% endif %}
          {% for reservation in reservations %}
         <p>
          Active Rental {{reservation.car.name}} {{reservation.startDate}} - {{reservation.endDate}}
         </p>
         {% endfor %}
    </div>
{% include 'product/footer.html' %}
{% endblock %}

    <div class="page">
        {% include 'product/header.html' %}

        {% include 'product/footer.html' %}

    </div>

</body>
</html>