<!DOCTYPE html>
{% load static %}
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-content">
                    <div class="col-xs-4 text-center logo-icon" id="facebook"><img src="{% static 'product/images/tiktok.png' %}" alt="TikTok Logo" class="logo" ></div>
                    <div class="col-xs-4 text-center logo-icon" id="twitter"><img src="{% static 'product/images/twitter.png' %}" alt="Twitter Logo" class="logo" ></div>
                    <div class="col-xs-4 text-center logo-icon" id="linkedin"><img src="{% static 'product/images/linkedin.png' %}" alt="LinkedIn Logo" class="logo" ></div>  
                </div>
            </div>
        </div>
    </div>