<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'product/loginStyle.css' %}">
    <title>Login</title>



</head>
<body>

<div class="container-fluid" id="titleDiv">
  <div class="row">
      <div class="col-8">
          <h1>Dans' Getaway Car Shack</h1>
      </div>
  </div>
</div>



<div class="row">
    <div class="col-10">
<div class = "container-fluid" id="formDiv">
    <form>

    <input type="text" id="username" aria-describedby="Username" placeholder="Enter username">

    <input type="password" id="password" placeholder="Password">

  <button type="submit" class="btn btn-primary">Login</button>
            <a href="{% url 'signup' %}">Sign up</a>

</form>
    </div>
</div>
</div>
</body>
</html>