<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'product/serviceStyle.css' %}">

</head>
<body>
<div class="container-fluid" id="titleDiv">
  <div class="row">
      <div class="col-8">
          <h1>Dans' Getaway Car Shack</h1>
      </div>
  </div>
</div>

<div class="container" id="ticketContainer">
    <h3>There are x service tickets to attend to!</h3>
    <div class="ticket" id="ticket1">
        <h3>This is example ticket 1</h3>
        <ul>
            <li>Service Ticket ID </li>
            <li>Customer Name</li>
            <li>Service Ticket creation date</li>
            <li>Car Id</li>
        </ul>
    </div>
    <div class="ticket" id="ticket2">
        <h3>This is example ticket 2</h3>
         <ul>
            <li>Service Ticket ID </li>
            <li>Customer Name</li>
            <li>Service Ticket creation date</li>
            <li>Car Id</li>
        </ul>
    </div>
    <div class="ticket" id="ticket3">
        <h3>This is example ticket 3</h3>
         <ul>
            <li>Service Ticket ID </li>
            <li>Customer Name</li>
            <li>Service Ticket creation date</li>
            <li>Car Id</li>
        </ul>
    </div>


</div>

</body>
</html>