<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'product/style/serviceStyle.css' %}">
    <link rel="stylesheet" href="{% static 'product/style/headerStyle.css' %}">
        <link rel="stylesheet" href="{% static 'product/style/footerStyle.css' %}">
</head>
<body>
 {% block content %}
 {% include 'product/header.html' %}
<script>
    var tick1 = false;
    var tick2 = false;
    var tick3 = false;
    function btnClick(id, id2) {
            document.getElementById(id).style.backgroundColor = "#778DA9";
            document.getElementById(id2).remove();
            if (id == "ticket1") {
            tick1 = true;
            }
            if (id =="ticket2") {
            tick2 = true;
            }
            if (id == "ticket3" {
            tick3 = true;
            }
    }

    function serviceTickets() {

    if (tick1) {

    }
    if (tick2) {

    }

    if (tick3) {

    }

    }

</script>

<div class="container" id="ticketContainer">

    <h3>There are {{ ticketList|length }} service tickets to attend to!</h3>
    <div class="grey ticket" id="ticket1">

                    {% if ticketList|length > 0 %}
        <h3>Service ticket 1</h3>
        {% else %}
        <h3>Rest Easy!</h3>
        {% endif %}
        <ul>
            {% if ticketList|length > 0 %}
            <li>Customer ID: {{ticketList.0.customerId}}</li>
            <li>Car Id: {{ticketList.0.carId}}</li>
            {% else %}
            <li>No work to do here!</li>
            {% endif %}
        </ul>
                        {% if ticketList|length > 0 %}

        <button id="btn" onclick="btnClick('ticket1', 'btn')">Select</button>
                    {% endif %}

    </div>
    <div class="grey ticket" id="ticket2">
        {% if ticketList|length > 1 %}
        <h3>Service ticket 2</h3>
        {% else %}
        <h3>Rest Easy!</h3>
        {% endif %}
         <ul>
             {% if ticketList|length > 1 %}
          <li>Customer ID: {{ticketList.1.customerId}}</li>
            <li>Car Id: {{ticketList.1.carId}}</li>
             {% else %}
            <li>No work to do here!</li>
             {% endif %}
        </ul>
                {% if ticketList|length > 1 %}

                <button id="btn2" onclick="btnClick('ticket2', 'btn2')">Select</button>
                    {% endif %}


    </div>
    <div class="grey ticket" id="ticket3">
        {% if ticketList|length > 2 %}
        <h3>Service ticket 3</h3>
        {% else %}
        <h3>Rest Easy!</h3>
        {% endif %}
         <ul>
             {% if ticketList|length > 2 %}
            <li>Customer ID: {{ticketList.2.customerId}}</li>
            <li>Car Id: {{ticketList.2.carId}}</li>
             {% else %}
            <li>No work to do here!</li>
             {% endif %}
        </ul>
        {% if ticketList|length > 2 %}
        <button id="btn3" onclick="btnClick('ticket3', 'btn3')">Select</button>
            {% endif %}

    </div>
            {% if ticketList|length > 0 %}

    <button type="submit" id="serviceButton" onclick="serviceTickets()">Service selected tickets</button>
    {% endif %}
</div>
 {% include 'product/footer.html' %}
        {% endblock %}
</body>
</html>