<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'product/signupStyle.css' %}">
    <title>Signup</title>
</head>
<body>
<div class="header" style="background-color:#1b263b;">
        <img src="{% static 'product/images/companyLogo.png' %}" alt="Company Logo" class="logo" style="max-width: 100px; max-height: 60px; ">
        <div class="container">
            <div class="row">
                <div class="title">
                    <div class="col-xs-3"></div>
                    <h1 class="title col-xs-6 text-center" style="color:white; text-shadow: 1px 1px 3px black;margin-top:-20px;">Dan's Getaway Car Shack</h1>
                    <div class="col-xs-3"></div>
                </div>
            </div>
        </div>
    </div>

<div class = "container-fluid" id="formDiv">
    <form action="{% url 'product:signup' %}" method="post">
    {% csrf_token %}
    <input type="text" class="form-control" name="firstName" id="firstName" aria-describedby="First Name" placeholder="Enter your first name">
    <input type="text" class="form-control" name="lastName" id="lastName" aria-describedby="Last Name" placeholder="Enter your last Name">
    <input type="email" class="form-control"name="email" id="email" aria-describedby="E-mail" placeholder="Enter a valid email address">
    <input type="password" class="form-control" name="password" id="password" placeholder="Enter a Password">

  <button type="submit" class="btn btn-primary">Create Account</button>
            <a href="{% url 'product:login' %}">Already a user?</a>

</form>

</div>
 {% block content %}
 {% include 'product/footer.html' %}
        {% endblock %}
</body>
</html>