<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'product/signupStyle.css' %}">
    <title>Signup</title>
</head>
<body>
<div class="container-fluid" id="titleDiv">
  <div class="row">
      <div class="col-8">
          <h1>Dans' Getaway Car Shack</h1>
      </div>
  </div>
</div>

<div class = "container-fluid" id="formDiv">
    <form action="{% url 'product:signup' %}" method="post">
    {% csrf_token %}
    <input type="text" class="form-control" name="firstName" id="firstName" aria-describedby="First Name" placeholder="Enter your first name">
    <input type="text" class="form-control" name="lastName" id="lastName" aria-describedby="Last Name" placeholder="Enter your last Name">
    <input type="email" class="form-control"name="email" id="email" aria-describedby="E-mail" placeholder="Enter a valid email address">
    <input type="password" class="form-control" name="password" id="password" placeholder="Enter a Password">

  <button type="submit" class="btn btn-primary">Create Account</button>
            <a href="{% url 'login' %}">Already a user?</a>

</form>

</div>
</body>
</html>